body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: larger;
}

nav {
  background: #222;
  padding: 10px;
  position: sticky;
  top: 0;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.hero {
  height: 80vh;
  background: url(https://images.pexels.com/photos/2088203/pexels-photo-2088203.jpeg)
    center/cover no-repeat;
  color: rgb(223, 57, 107);
  text-align: center;
  padding-top: 100px;
}

.hero button {
  padding: 12px 25px;
  background-color: rgb(88, 206, 206);
  border: none;
  color: rgb(41, 80, 142);
  border-radius: 25px;
  cursor: pointer;
}

section {
  padding: 40px;
  background-color: lightpink;
}

input {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
}

.categories button {
  padding: 8px 15px;
  margin-right: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  background-color: lightblue;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card button {
  background: orange;
  border: none;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: lightskyblue;
  max-width: 600px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 10px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 24px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
